* {
  margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
section, aside, footer {
  word-wrap: break-word;
  color: white;
	display: block;
}
body {
  background-image: url(image12.jpg);
  background-color: #000000;
	font: 12px/21px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: orange;
	outline: none;
	text-decoration: underline;
	background: grey;
}
a:hover {
	text-decoration: none;
}

img {
	border: dashed;
}
#wrapper {
	width: 1000px;
	margin: 100px auto;
  padding-bottom: 30px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
  font-variant: small-caps;
  font-size: 25px;
  line-height: 40px;
  font-family: "Arial", Tahoma, Verdana, sans-serif;
  text-shadow: 3px 1px 3px grey;
	height: 50px;
}
#head-menu {
  margin: 0 auto;
  height: 50px;
  width: 1000px;
  }
#menu {
  margin-right: 24%;
  margin-left: 26%;
  color: white;
  list-style: none;
  float: left;
  }
  #menu li {
  display: inline;
  }

/* Middle
-----------------------------------------------------------------------------*/
#middle {
  box-shadow: 5px 0 10px rgba(0,0,9,0.9), inset 0 4px 10px rgba(255,255,255,.6);/* shadow */
  -moz-box-shadow: 5px 0 10px rgba(0,0,9,0.9), inset 0 4px 10px rgba(255,255,255,.6);
  -webkit-box-shadow: 5px 0 10px rgba(0,0,9,0.9), inset 0 4px 10px rgba(255,255,255,.6);
  background-color: #1d1d1d;
  top: 10px;
	width: 100%;
	padding: 0 0 0;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
	}
#container {
	width: 100%;
	float: left;
	overflow: auto;
  }
#content {
	padding: 6px 270px 0 270px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	margin-left: -100%;
	padding-left: 6px;
	position: relative;
	top: 6px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -3px;
	padding-right: 3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	top: 6px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 1000px;
	margin: -50px auto 0;
	height: 100px;
	position: relative;
}
